WijkAgent/bin/Debug/Autofac.dll
WijkAgent/bin/Debug/Autofac.xml
WijkAgent/bin/Debug/Microsoft.Threading.Tasks.Extensions.Desktop.dll
WijkAgent/bin/Debug/Microsoft.Threading.Tasks.Extensions.Desktop.xml
WijkAgent/bin/Debug/Microsoft.Threading.Tasks.Extensions.dll
WijkAgent/bin/Debug/Microsoft.Threading.Tasks.Extensions.xml
WijkAgent/bin/Debug/Microsoft.Threading.Tasks.dll
WijkAgent/bin/Debug/Microsoft.Threading.Tasks.xml
WijkAgent/bin/Debug/Newtonsoft.Json.dll
WijkAgent/bin/Debug/Newtonsoft.Json.xml
WijkAgent/bin/Debug/System.Net.Http.Extensions.dll
WijkAgent/bin/Debug/System.Net.Http.Extensions.xml
WijkAgent/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WijkAgent/obj/Debug/WijkAgent.Properties.Resources.resources
WijkAgent/obj/Debug/WijkAgent.View.resources
WijkAgent/obj/Debug/WijkAgent.csproj.FileListAbsolute.txt
WijkAgent/obj/Debug/WijkAgent.csproj.GenerateResource.Cache
WijkAgent/obj/Debug/WijkAgent.csprojResolveAssemblyReference.cache
WijkAgent/obj/Debug/WijkAgent.exe
WijkAgent/obj/Debug/WijkAgent.pdb
WijkAgent/bin/Debug/System.Net.Http.Primitives.dll
WijkAgent/bin/Debug/System.Net.Http.Primitives.xml
WijkAgent/bin/Debug/Tweetinvi.dll
WijkAgent/bin/Debug/WijkAgent.exe
WijkAgent/bin/Debug/WijkAgent.exe.config
WijkAgent/bin/Debug/WijkAgent.pdb
WijkAgent/bin/Debug/WijkAgent.vshost.exe
WijkAgent/bin/Debug/WijkAgent.vshost.exe.config
WijkAgent/bin/Debug/WijkAgent.vshost.exe.manifest
WijkAgent/obj/Debug/DesignTimeResolveAssemblyReferences.cache
WijkAgent/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WijkAgent/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WijkAgent/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
